body {
    margin: 0;
    background-image: url('img/background2.png');
    background-position: left center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(0.5);
    position: relative;
  }
  canvas {
    background-color: black;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }

h1 {
    font-size: 50px;
    text-align: center;
    padding: 60px 0;
    margin: 0;
    font-family: 'mexico', sans-serif;
    font-size: 80px;
    color: #ffa400;
    text-shadow: 
    -1px 2px 1px hsl(0, 0%, 0%), 
    -2px 4px 1px hsl(0, 0%, 0%), 
    -3px 6px 1px hsl(0, 0%, 0%), 
    -4px 8px 1px hsl(0, 0%, 0%), 
    -5px 10px 1px hsl(0, 0%, 0%), 
    -6px 12px 1px hsl(0, 0%, 0%), 
    -7px 14px 1px hsl(0, 0%, 0%), 
    -8px 16px 1px hsl(0, 0%, 0%), 
    -9px 18px 1px hsl(0, 0%, 0%), 
    -10px 20px 1px hsl(0, 0%, 0%), 
    -11px 22px 1px hsl(0, 0%, 0%), 
    -12px 24px 1px hsl(0, 0%, 0%), 
    -13px 26px 1px hsl(0, 0%, 0%), 
    -14px 28px 1px hsl(0, 0%, 0%), 
    -15px 30px 1px hsl(0, 0%, 9%), 
    -16px 32px 1px hsl(0, 3%, 14%), 
    -17px 34px 1px hsl(0, 3%, 17%)
}

@font-face {
    font-family: 'mexico';
    src: url('fonts/mexico.ttf') format('truetype');
}


@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

.d-none {
    display: none;
}

.startscreen-div {
    max-width: 720px;
    height: 480px;
    top: 0;
    z-index: 8;
    background: #00000087;
}

.button-final {
    margin-top: 30px;
    color: white;
    font-family: 'mexico';
    font-weight: bolder;
    font-size: 32px;
    padding-right: 20px;
    border-radius: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }

  .startscreen-img-win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50%;
    object-fit: inherit;
    opacity: 0.9;
  }

  .btn-container-restart {
    position: relative;
    display: flex;
    justify-content: space-around;
    max-width: 720px;
    z-index: 99;
  }

  .hide {
    display: none !important;
  }
  
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 100%;
    align-items: center;
    background: white;
    justify-content: center;
    height: -webkit-fill-available;
  }
  
  .instructions-flex {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    z-index: 100;
    font-family: 'mexico';
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 10px;
    bottom: 10px;
    left: 75px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .instruction {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    font-size: 16px;
  }
  
  .space {
    height: 20px;
  }
  
  .left-arrow {
    height: 20px;
  }
  
  .right-arrow {
    height: 20px;
  }
  
  .d-button {
    height: 20px;
  }
  
  .loader {
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  .btn-mobile-wrapper {
    display: none;
    width: 100%;
    flex-direction: column;
  }
  
  .btn-mobile-flex {
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
  }
  .btn-mobile-wrapper {
    bottom: 40px;
    position: absolute;
  }
  
  .btn-mobile {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: solid white;
    padding: 10px;
    margin-bottom: 10px;
    width: 30px;
    height: auto;
  }
  
  .btn-mobile-bottle {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: solid white;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .btn-mobile img {
    width: 16px;
    height: 16px;
  }
  
  .overlayMobile {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    z-index: 150;
    background-color: #cacaca;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .turnScreenBox {
    font-family: 'mexico';
    font-size: 30px;
  }
  .turnScreenBox img {
    width: 250px;
    height: auto;
  }
  .background {
    overflow: hidden;
  }
  
  h3 {
    font-family: 'mexico';
    line-height: 0;
  }
  .game-container {
    position: relative;
    margin: auto;
    max-width: 720px;
    height: 480px;
  }
  
  .col-1 {
    width: 50%;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-around;
    position: absolute;
    align-items: center;
    top: 0;
    max-width: 720px;
    width: -webkit-fill-available;
    margin-top: 30px;
  }
  .startscreen-div {
    max-width: 720px;
    height: 480px;
    top: 0;
    z-index: 8;
    background: #00000087;
    border-radius: 25px;
    position: absolute;
    width: 100%;
  }
  
  h2 {
    font-family: 'mexico';
    margin: 0;
    padding-right: 10px;
    border-right: 1px solid rgb(255, 255, 255);
  }
  
  .button-final {
    margin-top: 30px;
  }
  
  .startscreen-img-1-img-win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: inherit;
    opacity: 0.9;
    border-radius: 25px;
  }
  
  .btn-flex {
    display: flex;
    gap: 12px;
    margin: 10px 20px;
  }
  
  .btn-container {
    display: flex;
    justify-content: end;
    position: absolute;
    z-index: 20;
    width: 100%;
  }
  
  .btn {
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    width: 45px;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 30px;
    right: 30px;
  }
  
  
  .btn img {
    width: 40px;
    height: auto;
    filter: opacity(1.5);
  }
  
  .btn img:hover {
    filter: opacity(1);
  }
  .startscreen-wrapper-img {
    border-radius: 25px;
    position: relative;
    width: 100%;
    max-width: 720px;
    height: 480px;
    overflow: hidden;
  }
  
  h4 {
    font-size: 32px;
    font-family: 'mexico';
    color: #bf3d01;
  }
  
  .startscreen-img-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: inherit;
  }
  
  .d-none {
    display: none !important;
  }
  
  .close-div {
    position: relative;
  }
  
  .imprint-div {
    background: #cacaca;
    font-family: "Inter", sans-serif;
    width: 70%;
    margin: auto;
    padding: 50px;
  }
  
  img.btn-close {
    height: auto;
    position: absolute;
    top: -19px;
    left: 55%;
    transform: translate(-50%, -50%);
    background: #cacaca;
    width: 40px;
    z-index: 99;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
  }
  
  img.btn-close-second {
    height: auto;
    position: absolute;
    top: -19px;
    left: 45%;
    transform: translate(-50%, -50%);
    background: #cacaca;
    width: 40px;
    z-index: 79;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
  }
  
  img.btn-close-active {
    background-color: orange;
  }
  
  .btn-mobile-wrapper-800 {
    display: none !important;
  }
    
  #muteIcon {
    width: 60px;
    height: auto;
    position: absolute;
    right: 10px;
    top: -38px;
  }

  .canvas-container{
    position: relative;
    
  }
  #canvas {
    position: absolute;
    background-color:lightgrey
  }
  .fullscreen-button {
    position:absolute;
    filter: opacity(0.6);
    left:90%;
    top:6%;
    width: 32px; 
    height: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

.fullscreen-button-img {
  width: 32px;
  height: 32px;
}
.start-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
  color: white;
  font-family: 'mexico';
  font-size: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media (max-width: 1024px){
    .btn-mobile-wrapper {
      display: flex !important;
    }
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    .overlayMobile {
      display: none;
    }
    .btn-mobile-wrapper {
      display: flex !important;
    }
  }
  
  @media (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
    h1 {
      display: none;
    }
  }
  
  @media (max-width: 720px) {
    h1 {
      display: none;
    }
  }
  
  @media (min-width: 800px) {
    .overlayMobile {
      display: none;
    }
  }
  
  @media only screen and (max-height: 600px) {
    .flex-container,
    canvas {
      width: 100%;
    }
    .startscreen-img-img {
      transform: translate(-50%, -60%);
    }
  }
  
  @media only screen and (max-height: 480px) {
    .game-container,
    .flex-container,
    canvas {
      max-width: 720px;
      max-height: 100vh;
    }
    .game-container {
      overflow: hidden;
    }
  }

  